body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Monda', sans-serif;
}

#container {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-image: url('../sprites/ground.jpg');
  width: 2048px;
  height: 2048px;
}

#game {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.kineticjs-content {
  display: block !important;
}

.fork {
  z-index: 2;
  position: absolute; 
  top: 0; 
  right: 0; 
  border: 0;
}

button {
  position: absolute;
  z-index: 2;
  background-color: transparent;

  transition: color 0.5s ease;

  -webkit-box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
  -moz-box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
  box-shadow:rgba(0,0,0,0.98) 0 1px 0 0;
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;

  color: white;
  border:1px solid #999;
  font-weight: 700;
  padding: 2px 6px;
}

button:hover {
  color: black;
}

.play {
  top: 90%;
  left: 87%;

  border: 3px solid white;

  font-size: 250%;
}

.wat {
  top: 90%;
  left: 20px;
  border: 1px solid white;

  font-size: 150%;
}

.fullScreen {
  top: 10px;
  left: 20px;

  border: 1px solid white;

  font-size: 150%;
}

span {
  z-index: 2;
  position: absolute;
  padding: 3px;
  font-size: 150%;
}

.fight {
  color: red;
  top: 50%;
  left: 45%;
  font-size: 600%;
}

.waiting {
  top: 50px;
  left: 75%;
  font-size: 170%;
  display: none;
}

.chickenCounter {
  top: 40px;
  left: 20px;
  display: none;
}

.oppCounter {
  top: 70px;
  left: 20px;
  display: none;
}  

.keyboard {
  display: ;

  top: 65px;
  left: 20px;
} 

/*sweet scrolling story*/
.titles
{
  z-index: 2;
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 350%;
  text-align: justify;
  overflow: hidden;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: perspective(300px) rotateX(15deg);
  -moz-transform: perspective(300px) rotateX(15deg);
  -ms-transform: perspective(300px) rotateX(15deg);
  -o-transform: perspective(300px) rotateX(15deg);
  transform: perspective(300px) rotateX(15deg);
}

.titles p.center
{
  z-index: 2;
  text-align: center;
}

.titlecontent
{
  z-index: 2;
  position: absolute;
  top: 100%;
  -webkit-animation: scroll 100s linear 4s infinite;
  -moz-animation: scroll 100s linear 4s infinite;
  -ms-animation: scroll 100s linear 4s infinite;
  -o-animation: scroll 100s linear 4s infinite;
  animation: scroll 100s linear 4s infinite;
}

@-webkit-keyframes scroll {
  0% { top: 100%; }
  100% { top: -120%; }
}

@-moz-keyframes scroll {
  0% { top: 100%; }
  100% { top: -170%; }
}

@-ms-keyframes scroll {
  0% { top: 100%; }
  100% { top: -170%; }
}

@-o-keyframes scroll {
  0% { top: 100%; }
  100% { top: -170%; }
}

@keyframes scroll {
  0% { top: 100%; }
  100% { top: -120%; }
}


/*sweet beginning animations*/
body {
  -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
  -moz-animation-duration: 2s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
  -o-animation-duration: 2s;
    -o-animation-iteration-count: 1;
    -o-animation-timing-function: ease;
    -o-animation-fill-mode: both;
  animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: both;
} 

  @-webkit-keyframes body {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes body {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @-o-keyframes body {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes body {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

body {
  -webkit-animation-name: body;
  -moz-animation-name: body;
  -o-animation-name: body;
  animation-name: body;
}

.fork, .keyboard, .fullScreen {
  -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
  -moz-animation-duration: 1.5s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: both;
  -o-animation-duration: 1.5s;
    -o-animation-iteration-count: 1;
    -o-animation-timing-function: ease;
    -o-animation-fill-mode: both;
  animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: both;
} 
  @-webkit-keyframes fork {
    0% {
      -webkit-transform:   translateX(200px)
    }
    25% {
      -webkit-transform:   translateX(200px)
    }
    63% {
      -webkit-transform:   translateX(0px)
    }
    100% {
      -webkit-transform:   translateX(0px)
    }
  }
  @-moz-keyframes fork {
    0% {
      -moz-transform:   translateX(200px)
    }
    25% {
      -moz-transform:   translateX(200px)
    }
    63% {
      -moz-transform:   translateX(0px)
    }
    100% {
      -moz-transform:   translateX(0px)
    }
  }
  @-o-keyframes fork {
    0% {
      -o-transform:   translateX(200px)
    }
    25% {
      -o-transform:   translateX(200px)
    }
    63% {
      -o-transform:   translateX(0px)
    }
    100% {
      -o-transform:   translateX(0px)
    }
  }
  @keyframes fork {
    0% {
      transform:   translateX(200px)
    }
    25% {
      transform:   translateX(200px)
    }
    63% {
      transform:   translateX(0px)
    }
    100% {
      transform:   translateX(0px)
    }
  }

.fork {
  -webkit-animation-name: fork;
  -moz-animation-name: fork;
  -o-animation-name: fork;
  animation-name: fork;
}

  @-webkit-keyframes keyboard {
    0% {
      -webkit-transform:   translateX(-400px)
    }
    25% {
      -webkit-transform:   translateX(-400px)
    }
    63% {
      -webkit-transform:   translateX(0px)
    }
    100% {
      -webkit-transform:   translateX(0px)
    }
  }
  @-moz-keyframes keyboard {
    0% {
      -moz-transform:   translateX(-400px)
    }
    25% {
      -moz-transform:   translateX(-400px)
    }
    63% {
      -moz-transform:   translateX(0px)
    }
    100% {
      -moz-transform:   translateX(0px)
    }
  }
  @-o-keyframes keyboard {
    0% {
      -o-transform:   translateX(-400px)
    }
    25% {
      -o-transform:   translateX(-400px)
    }
    63% {
      -o-transform:   translateX(0px)
    }
    100% {
      -o-transform:   translateX(0px)
    }
  }
  @keyframes keyboard {
    0% {
      transform:   translateX(-400px)
    }
    25% {
      transform:   translateX(-400px)
    }
    63% {
      transform:   translateX(0px)
    }
    100% {
      transform:   translateX(0px)
    }
  }

.keyboard {
  -webkit-animation-name: keyboard;
  -moz-animation-name: keyboard;
  -o-animation-name: keyboard;
  animation-name: keyboard;
}
@-webkit-keyframes fullScreen {
    0% {
      -webkit-transform:  translateY(-90px)
    }
    25% {
      -webkit-transform:  translateY(-90px)
    }
    63% {
      -webkit-transform:  translateY(0px)
    }
    100% {
      -webkit-transform:  translateY(0px)
    }
  }
  @-moz-keyframes fullScreen {
    0% {
      -moz-transform:  translateY(-90px)
    }
    25% {
      -moz-transform:  translateY(-90px)
    }
    63% {
      -moz-transform:  translateY(0px)
    }
    100% {
      -moz-transform:  translateY(0px)
    }
  }
  @-o-keyframes fullScreen {
    0% {
      -o-transform:  translateY(-90px)
    }
    25% {
      -o-transform:  translateY(-90px)
    }
    63% {
      -o-transform:  translateY(0px)
    }
    100% {
      -o-transform:  translateY(0px)
    }
  }
  @keyframes fullScreen {
    0% {
      transform:  translateY(-90px)
    }
    25% {
      transform:  translateY(-90px)
    }
    63% {
      transform:  translateY(0px)
    }
    100% {
      transform:  translateY(0px)
    }
  }

.fullScreen {
  -webkit-animation-name: fullScreen;
  -moz-animation-name: fullScreen;
  -o-animation-name: fullScreen;
  animation-name: fullScreen;
}

/*@-webkit-keyframes play {
    0% {
      -webkit-transform:  translateY(-1000px)
    }
    25% {
      -webkit-transform:  translateY(-1000px)
    }
    63% {
      -webkit-transform:  translateY(0px)
    }
    100% {
      -webkit-transform:  translateX(480%)
    }
  }
  @-moz-keyframes play {
    0% {
      -moz-transform:  translateY(-600px)
    }
    25% {
      -moz-transform:  translateY(-600px)
    }
    63% {
      -moz-transform:  translateY(0px)
    }
    100% {
      -moz-transform:  translateX(350px)
    }
  }
  @-o-keyframes play {
    0% {
      -o-transform:  translateY(-600px)
    }
    25% {
      -o-transform:  translateY(-600px)
    }
    63% {
      -o-transform:  translateY(0px)
    }
    100% {
      -o-transform:  translateX(350px)
    }
  }
  @keyframes play {
    0% {
      transform:  translateY(-600px)
    }
    25% {
      transform:  translateY(-600px)
    }
    63% {
      transform:  translateY(0px)
    }
    100% {
      transform:  translateX(350px)
    }
  }

.play {
  -webkit-animation-name: play;
  -moz-animation-name: play;
  -o-animation-name: play;
  animation-name: play;
}*/



.fight, .play {
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
  -ms-animation-duration:1.5s;
  -o-animation-duration:1.5s;
  animation-duration:1.5s;
}
 @-webkit-keyframes bounceInDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-2000px);
  } 60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }
  
  80% {
    opacity: 1;
    -webkit-transform: translateY(-10px);
  }
  
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounceInDown {
  0% {
    opacity: 1;
    -moz-transform: translateY(-2000px);
  }
  
  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }
  
  80% {
    -moz-transform: translateY(-10px);
  }
  
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes bounceInDown {
  0% {
    opacity: 1;
    -o-transform: translateY(-2000px);
  }
  
  60% {
    opacity: 1;
    -o-transform: translateY(30px);
  }
  
  80% {
    -o-transform: translateY(-10px);
  }
  
  100% {
    -o-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 1;
    transform: translateY(-2000px);
  }
  
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  
  80% {
    transform: translateY(-10px);
  }
  
  100% {
    transform: translateY(0);
  }
}

.play {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(-2000px);
  }
  
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
  }
  
  80% {
    -webkit-transform: translateX(-10px);
  }
  
  100% {
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes bounceInLeft {
  0% {
    opacity: 1;
    -moz-transform: translateX(-2000px);
  }
  
  60% {
    opacity: 1;
    -moz-transform: translateX(30px);
  }
  
  80% {
    -moz-transform: translateX(-10px);
  }
  
  100% {
    -moz-transform: translateX(0);
  }
}

@-o-keyframes bounceInLeft {
  0% {
    opacity: 1;
    -o-transform: translateX(-2000px);
  }
  
  60% {
    opacity: 1;
    -o-transform: translateX(30px);
  }
  
  80% {
    -o-transform: translateX(-10px);
  }
  
  100% {
    -o-transform: translateX(0);
  }
}

@keyframes bounceInLeft {
  0% {
    opacity: 1;
    transform: translateX(-2000px);
  }
  
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  
  80% {
    transform: translateX(-10px);
  }
  
  100% {
    transform: translateX(0);
  }
}

.fight {
  -webkit-animation-name: bounceInLeft;
  -moz-animation-name: bounceInLeft;
  -o-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

