body {
  margin: 0;
  padding: 0;
}

#container {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-image: url('../sprites/ground.jpg');
  width: 2048px;
  height: 2048px;
}

#game {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.kineticjs-content {
  display: block !important;
}

.fullScreen {
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 20px;
  width: 105px;

  border: 1px solid white;

  background-color: transparent;

  color: white;
  font-size: 15px;
}

.chickenCounter {
  position: fixed;
  z-index: 2;
  top: 22px;
  left: 130px;
  width: 105px;
  padding: 3px;
  text-align: center;

  background-color: transparent;

  color: white;
  font-size: 15px;
  font-family: helvetica; 
}

.oppCounter {
  position: fixed;
  z-index: 2;
  top: 22px;
  left: 240px;
  width: 205px;
  padding: 3px;
  text-align: center;

  background-color: transparent;

  color: white;
  font-size: 15px;
  font-family: helvetica; 
}  

